body {
  background-color: #272822;
  color: #f8f8f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #f8f8f2;
}

a {
  color: #66d9ef;
}

code, pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
}

.md-nav {
    background-color: #f0f0f0; /* Light grey background color */
}

.md-nav__link {
  color: #f8f8f2;
}

.md-nav__link--active {
  color: #f92672;
}

.md-footer {
  background-color: #272822;
}
